#--GITIGNORE--
#.gitignore
*.bash
.idea/
.vscode/
venv/
__pycache__/
*.pyc
*.pyo
*/migrations/*
*/*/migrations/*
*/media/testcase/*
.env*
#.env_dev
.env_prod
projdg/media/
#projdg/db.sqlite3
#*.sqlite3
*/nohup.out
nohup.out
media/*