<!DOCTYPE html>
<html lang="en">
<body style="font-size: 18px;">

<h3><b>Exception Type</b>: {{ ex_type }}</h3>
<pre>
<b>ID</b>: {{ id }}
<b>Date & Time</b>: {{ datetime }}

<b>Module</b>: {{ module }} | <b>Severity</b>: {{ severity }}
<b>class</b>: {{ class }} - <b>funn</b>: {{ funn }}
<b>URL Method</b>: {{ url_method }} | <b>URL</b>: {{ url }}
<b>Request</b>: {{ request }}
<b>Response</b>: {{ response }}

---<b>ex</b>---
{{ ex }}

<b>Extra Data</b>:
{{ extra_data }}

--- --- ---
</pre>

</body>
</html>
